/* =========================
   Page Layout (Sticky Footer)
   ========================= */

#quarto-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#quarto-content {
  flex: 1;
}

body {
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Footer styling */
.nav-footer {
  margin-top: auto;
  background-color: #3C4D63;
  color: #ffffff;
  padding: 1rem 2rem;
  text-align: center;
}

/* footer links */
.nav-footer a {
  color: #F2E6D3;
  text-decoration: none;
}

.nav-footer a:hover {
  text-decoration: underline;
}

/* =========================
   Link Styling
   ========================= */

#quarto-content a {
  color: #3C3E59;
}

#quarto-content a:visited {
  color: #426D7D;
}

#quarto-content a:hover {
  color: #566096;
  text-decoration: underline;
}

#quarto-content a:active {
  color: #293462;
}


/* =========================
   Minimal Callout Style
   ========================= */

.minimal-callout {
  border-left: 6px solid #3C4D63;
  background-color: #F2E6D3;
  padding: 1rem 1.2rem;
  margin: 1.5rem 0;
  border-radius: 6px;
}

/* Remove default callout header/title */
.minimal-callout .callout-header {
  display: none;
}

.minimal-callout {
  transition: all 0.2s ease;
}

.minimal-callout:hover {
  background-color: #eadcc6;
}



